<div class="row">
  <section class="container col-8 col-sm-6 col-md-5 col-lg-4">
    <h1 class="mb-3">Hi, <br />Welcome back</h1>
    <form action="post">
      <div class="mb-3">
        <input
          class="input-box"
          type="text"
          placeholder="Email Address"
          required
        />
      </div>
      <div class="mb-3">
        <input
          class="input-box w-100"
          type="password"
          placeholder="Password"
          required
        />
      </div>
      <div class="col-12 d-flex mb-2 justify-content-between">
        <div class="form-check">
          <input class="" type="radio" value="" id="invalidCheck" />
          <label class="form-check-label" for="invalidCheck">
            Remember me
          </label>
          <div class="invalid-feedback">You must agree before submitting.</div>
        </div>
        <a href="">Forget Password</a>
      </div>
      <div class="mb-3">
        <button class="btn">Login</button>
      </div>
    </form>
    <div>
      <p>Don't have an count <a href="#" class="text-info">signup</a></p>
    </div>
  </section>
</div>
