<div class="row">
  <section class="container col-8 col-sm-6 col-md-5 col-lg-4">
    <h1 class="mb-3">Sign Up</h1>
    <form action="post">
      <div class="mb-3">
        <input
          class="input-box w-100"
          type="text"
          placeholder="First Name"
          required
        />
      </div>
      <div class="mb-3">
        <input
          class="input-box w-100"
          type="password"
          placeholder="Last Name"
          required
        />
      </div>
      <div class="mb-3">
        <input
          class="input-box"
          type="text"
          placeholder="Email Address"
          required
        />
      </div>
      <div class="mb-3">
        <input
          class="input-box w-100"
          type="password"
          placeholder="Password"
          required
        />
      </div>

      <div class="mb-3">
        <button class="btn">register</button>
      </div>
    </form>
  </section>
</div>
