<div class="row body">
  <section class="col-12 p-5">
    <div>
      <p>1/32</p>
      <h3>hi how are you</h3>
    </div>
  </section>
  <section class="answers row col-12 p-4 justify-content-md-evenly">
    <div class="col-12 col-md-5">
      <input
        class="form-check-input visually-hidden"
        type="checkbox"
        name="ans1"
        value=""
        id="ans1"
      />
      <label class="form-check-label" for="ans1">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi iure
          ipsa aut praesentium facilis!
        </p>
      </label>
    </div>
    <div class="col-12 col-md-5">
      <input
        class="form-check-input visually-hidden"
        type="checkbox"
        name="ans2"
        value=""
        id="ans2"
      />
      <label class="form-check-label" for="ans2">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi iure
          ipsa aut praesentium facilis!
        </p>
      </label>
    </div>
    <div class="col-12 col-md-5">
      <input
        class="form-check-input visually-hidden"
        type="checkbox"
        name="ans3"
        value=""
        id="ans3"
      />
      <label class="form-check-label" for="ans3">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi iure
          ipsa aut praesentium facilis!
        </p>
      </label>
    </div>
    <div class="col-12 col-md-5">
      <input
        class="form-check-input visually-hidden"
        type="checkbox"
        name="ans4"
        value=""
        id="ans4"
      />
      <label class="form-check-label" for="ans4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi iure
          ipsa aut praesentium facilis!
        </p>
      </label>
    </div>
  </section>
  <div class="fixed-bottom">
    <button class="btn btn-outline-info p-3">next Question</button>
  </div>
</div>
